USE [master]
GO
/****** Object:  Database [Blasterify.MVC]    Script Date: 04/06/24 5:40:15 AM ******/
CREATE DATABASE [Blasterify.MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Blasterify.MVC', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Blasterify.MVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Blasterify.MVC_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Blasterify.MVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Blasterify.MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Blasterify.MVC]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientUsers]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](40) NOT NULL,
	[CardNumber] [nvarchar](16) NOT NULL,
	[Status] [bit] NOT NULL,
	[Email] [nvarchar](35) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[SuscriptionDate] [datetime2](7) NOT NULL,
	[SubscriptionId] [int] NOT NULL,
 CONSTRAINT [PK_ClientUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](60) NOT NULL,
	[Duration] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[PremiereDate] [datetime2](7) NOT NULL,
	[Rate] [decimal](3, 2) NOT NULL,
	[FirebasePosterId] [nvarchar](450) NOT NULL,
	[Price] [decimal](4, 2) NOT NULL,
	[IsFree] [bit] NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rents]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RentDate] [datetime2](7) NOT NULL,
	[ClientUserId] [int] NOT NULL,
	[MovieId] [int] NOT NULL,
 CONSTRAINT [PK_Rents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Price] [decimal](5, 2) NOT NULL,
	[Features] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClientUsers_Email]    Script Date: 04/06/24 5:40:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClientUsers_Email] ON [dbo].[ClientUsers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Countries_Name]    Script Date: 04/06/24 5:40:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Countries_Name] ON [dbo].[Countries]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Movies_FirebasePosterId]    Script Date: 04/06/24 5:40:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Movies_FirebasePosterId] ON [dbo].[Movies]
(
	[FirebasePosterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Subscriptions_Name]    Script Date: 04/06/24 5:40:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Subscriptions_Name] ON [dbo].[Subscriptions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFree]
GO
/****** Object:  StoredProcedure [dbo].[AddCountry]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCountry]
	@Name NVARCHAR(30)
AS
BEGIN
    INSERT INTO dbo.Country (Name)
    VALUES (@Name)
END
GO
/****** Object:  StoredProcedure [dbo].[AddSubscription]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSubscription]
    @Name NVARCHAR(20),
    @Price DECIMAL(5,2),
    @Features NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO dbo.Subscription (Name, Price, Features)
    VALUES (@Name, @Price, @Features)
END
GO
/****** Object:  StoredProcedure [dbo].[AddUserClient]    Script Date: 04/06/24 5:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserClient]
    @Username NVARCHAR(40),
    @CardNumber NVARCHAR(16),
    @Status BIT,
    @Email NVARCHAR(35),
    @PasswordHash VARBINARY(64),
    @SubscriptionDate DATE,
    @SubscriptionId INT,
    @CountryId INT
AS
BEGIN
    INSERT INTO dbo.UserClient (Username, CardNumber, Status, Email, PasswordHash, SubscriptionDate, SubscriptionId, CountryId)
    VALUES (@Username, @CardNumber, @Status, @Email, @PasswordHash, @SubscriptionDate, @SubscriptionId, @CountryId)
END
GO
USE [master]
GO
